{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

.main{
	
	margin-top: 55px;
	max-width: 100
}

h3{
	margin:0;
}
.clear:after{
	clear: both;
	content: " ";
	display:block;
}
}
.fa-truck{
	font-size: 70px;
}
.header{
	max-width:100%;
	height: 200px;
	background-color: rgba(252, 92, 101, 0.8);
	text-align: center;

}

.nav{
	display: flex;
	background-color: grey/*rgba(165, 177, 194)*/;
	height:50px;
	width: 100%;
	/*margin: 0px auto;*/
	align-items: center;
	justify-content: space-around;
	position: absolute;
	top: 5px;
	border: 1px solid black;

}

.website-name,
.fas{
	position:relative;
	left:25px;
}


.big-box{

	max-width: 100%;
	height: 300px;
	/*background-color: rgba(253, 227, 167, 0.5); */
	background-image: url(../images/bike7.jpg);
	background-repeat: repeat-x;
	background-size: 100%;
}



.box-bg{
	width: 50%;
	height: 300px;
	/*background-color: red; */
	float:left;
}

#box1{
	/*background-color: rgba(56, 103, 214,0.7)*/
	background-image: url(../images/bike2.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}

#box2{
	/*background-color: rgba(241, 169, 160,0.7)*/
	background-image: url(../images/bike3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#box3{
	/*background-color: rgba(174, 168, 211,0.7)*/
	background-image: url(../images/bike4.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}

#box4{
	/*background-color: rgba(197, 239, 247, 0.7)*/
	background-image: url(../images/bike5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.article{ 
position: relative;
 }

.colbox{
	height: 98%;
	width: 28%;
	float: left;
	border: 1px solid white;
	margin: 0px 2%;
	overflow: hidden;
	border-radius: 5px;
}

.column{
	width: 90%;
	height: 90%;
	position: relative;
	left: 30px;
	margin: 0 auto;
}

.colbox > img{
	height: 35%;
	width: 100%;
	/*border: 1px solid white;*/
}

/*.team{
	width:100%;
	position: relative;
	left: 30px;
}*/

.column,
.column2{
	border:1px white;
}

.colbox2{
	height:44%;
	width: 45%;
	float:left;
	border: 1px solid white;
	margin: 5px 2%;
	overflow: hidden;
	border-radius: 5px;

}

.column2{
	width:96%;
	height:93%;
	position:relative;
	left: 30px;

}

.icon-left,
.content-left,
.content-right{
	float:left;
}

.icon-left > img{
	width: 50px;
	height: 50px;
	border-radius: 40px;
	margin: 7px;
}

.icon-right{
	float: right;
}

.icon-right>img{
	width: 50px;
	height: 50px;
	border-radius: 40px;
	margin: 7px;
}

.content-right{
	text-align: right;
}

.team-box{
	height:33%;
	width: 92%;
	border: 1px dotted	white;
	margin-left: 30px;
	margin-bottom: 5%;
}

.team-box > img{
	width: 50px;
	height: 50px;
	border-radius: 40px;
	margin: 7px;
	float: left;
}

.team-box > p{
	margin-bottom: 5px;
}

.team-box > h4{
	margin: 10px;
}

.social-media{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 100px;


}

.icons{
	display: flex;
	justify-content: center;
	align-items: center;
	
	font-size: 50px;
}

.logo{
	margin: 20px;
}


.footer{
	width: 100%;
	height: 80px;
	background-color: rgba(85, 239, 196,1.0);
}

small{
	text-align: center;
	margin-top: 40px;
}


.bottom{
	display: flex;
	align-items: center;
	/*display: inline-block;*/
	justify-content: flex-end;
	margin-top: -35px;
}

a{
	text-decoration: none;
}
a:hover{
	color: pink;

}

a:link{
	color:white;
}

a:visited{
	color:indianred;
}

a:active{
	color:red;
}